<section>
<style>
    .sidebar {
        background-color:#121212;
        height: 100vh;
        color: white;
    }
    .logo {
        background-color: white;
        height: 3em;
    }
    .loggedInAdminDetails {
        background-color: rgb(74, 74, 74);
        padding: 0.1em;
    }
    .loggedInAdminDetails >p {
        padding:0;
        margin: 0;
        font-size: medium;
    }
    .nav-item {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 0.1em;
        margin:0.1em 0px;
        opacity: 0.9;
    }
    .nav-item:hover {
        opacity: 1;
    }
    .active {
        opacity: 1;
        background-color: rgb(133, 133, 133);
    } 
</style>

<div class="sidebar">
    <div class="logo">
        logo
    </div>
    <div class="loggedInAdminDetails">
        <p>Admin: (online)</p>
        <p>John Doe</p>
    </div>
    <div class="nav-item active">Users</div>
    <div class="nav-item">Top Traders</div>
    <div class="nav-item">Sub Account Config</div>
</div>
</section>